# NPM renames .gitignore to .npmignore
# In order to prevent that, we remove the initial "."
# And the CLI then renames it

# node files
node_modules/

# macOS files
.DS_Store

# IntelliJ
*.iml
.idea

test/fixed
